<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-5">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h1 class="h4 mb-3">Imposta nuova password</h1>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="mb-3">
            <%= f.label :password, "Nuova password", class: "form-label" %>
            <% if @minimum_password_length %>
              <div class="form-text mb-1">Minimo <%= @minimum_password_length %> caratteri</div>
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :password_confirmation, "Conferma nuova password", class: "form-label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="d-grid">
            <%= f.submit "Aggiorna password", class: "btn btn-primary" %>
          </div>
        <% end %>

        <hr class="my-4" />
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
