<div class="row g-3 mb-2 p-3 border rounded bg-body-tertiary" data-nested-item>
  <%= bank_form.hidden_field :_destroy, value: 0, class: "nested-destroy-field" %>
  <div class="col-12 col-md-6 col-lg-3">
    <%= bank_form.label :bank_name, "Banca", class: "form-label" %>
    <%= bank_form.text_field :bank_name, class: "form-control" %>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <%= bank_form.label :referente, "Referente", class: "form-label" %>
    <%= bank_form.text_field :referente, class: "form-control" %>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <%= bank_form.label :current_account_balance, "Saldo c/c", class: "form-label" %>
    <%= bank_form.number_field :current_account_balance, step: :any, class: "form-control" %>
  </div>
  <div class="col-12 col-md-4 col-lg-2">
    <%= bank_form.label :satisfaction_level, "Livello soddisfazione", class: "form-label" %>
    <%= bank_form.select :satisfaction_level,
                         options_for_select((1..10).to_a, bank_form.object.satisfaction_level),
                         { include_blank: "..." },
                         class: "form-select" %>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <%= bank_form.label :reason, "Motivo", class: "form-label" %>
    <%= bank_form.text_area :reason, class: "form-control", rows: 1 %>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <%= bank_form.label :use, "Uso", class: "form-label" %>
    <%= bank_form.text_area :use, class: "form-control", rows: 1 %>
  </div>
  <div class="col-12 col-md-4 col-lg-2">
    <%= bank_form.label :deadlines, "Scadenze", class: "form-label" %>
    <%= bank_form.text_field :deadlines, class: "form-control" %>
  </div>
  <div class="col-12 d-flex justify-content-end">
    <button type="button" class="btn btn-outline-danger btn-sm" data-remove-nested>Rimuovi</button>
  </div>
</div>